/* import of website fonts */
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
h1, h2, h3 {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #fff;
  color: #333;
}

/* HEADER */

header {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 20px 50px;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
}



.nav-left.nav-left:hover {
  color: #ffb30d;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.navbar a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}

.logo {
  height: 30px;
}

.menu-icon {
    margin-left: 25px;
    cursor: pointer;
    font-size: 20px; 
    color: #333333;
  }

  .question-card {
  border: 2px solid #004080;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  text-align: left;
}

.question-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.question-card label {
  display: block;
  margin: 5px 0;
  font-weight: 500;
  cursor: pointer;
}

.question-card input[type="radio"] {
  margin-right: 10px;
}

#submit-button {
  display: block;
  margin: 30px auto;
  background-color: #ffc107;
  border: none;
  border-radius: 30px;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: background-color 0.3s;
}

#submit-button:hover {
  background-color: #e0a800;
}

/* FOOTER */

footer {
  background: #00132e;
  color: white;
  padding: 20px 40px;
  text-align: center;
  border-radius: 20px;
  max-width: 900px;
  margin: 40px auto 20px auto;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

footer div {
  margin: 10px 0;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}